head
  title= title
  
  link(rel="icon" href="https://cdn.glitch.com/6384f34c-f00d-443b-b497-4ad0624d17e2%2Fse-hnq.png?v=1596123760376")
  
  link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")

  script(src='/client.js')

  link(rel="stylesheet" href="/style.css")