h1 SE HNQ Feeds for Chat (Beta 0.2)

 
ul(class='nav')
  li(class='nav-item')
    a(href='/' class='nav-link') Home
  li(class='nav-item')
    a(href='/status' class='nav-link') Status
  li(class='nav-item')
    a(href='/about' class='nav-link') About
