div(class='row')
  
  div(class='col-9')
    h1 SE HNQ Feeds for Chat
  div(class='col-3')
    div(class='card')
      img(class='w-50 card-img-top mx-auto'  src='https://cdn.glitch.com/6384f34c-f00d-443b-b497-4ad0624d17e2%2Fone-room-feed.png?v=1596278091297')

div(class='row') 
  div
    ul(class='nav')
      li(class='nav-item')
        a(href='/' class='nav-link') Home
      li(class='nav-item')
        a(href='/chart' class='nav-link') Chart
      li(class='nav-item')
        a(href='/feeds' class='nav-link') Feeds
      li(class='nav-item')
        a(href='/chatrooms' class='nav-link') Chatrooms
      li(class='nav-item')
        a(href='/status' class='nav-link') Status
      li(class='nav-item')
        a(href='/about' class='nav-link') About
