extends shared/layout.pug

block content
      
  h2 About

  p 
  | Created by 
  a( href="https://meta.stackexchange.com/users/158100/rene") rene
  | &nbsp; and inspired on &nbsp;
  a( href="https://meta.stackexchange.com/questions/313353") How to add HNQ to chat room feed?