extends shared/layout.pug

block content
  h2 Something went wrong
  
  div
    p  It is not you!
    p  It is probably me, or bugs, or aliens, or cosmic rays. 
    p  If this problem persists, I might notice and try to fix it. To expidite a resolution maybe it is best to ping me in chat as well. 