extends shared/layout.pug

block content

  h2 Introduction

  p This is a simple Hot Network Questions Custom RSS feed filter
  
  p On the Stack Exchange Network questions can become 
    i hot
    | . A hot question attracts more viewers and for some cases this might be problematic.
    | There is no built-in RSS feed to have questions popup in a chatroom so users can evaluate a hot question.
    | This web application fills that gap.

  p 
   | it is based on the work done in 
   a( href="https://loutish-rod.glitch.me/") SE Hot Network Scraper

  h2 What can you expect?

  p You can visit all items via the menu at the top.
  
  p There is an interactive graph that shows when a Hot Network Question was created, what site it is on, what its score is and how many answers it has.
  
  p There is Feeds page where you can create a customized feed to include or exclude sites that will show up in the RSS feed. It also has some ready made examples.
  
  p If you're wondering which chatrooms around the Stack Exchange Network have a Hot Network Question feed setup, your curioisity is met.
  
  p To keep the feeds fresh and relevant the source of Hot Network Questions is pulled regularly. There are some statistics to see how fresh the data is and which sites are currently in the list.