/* styles */


body {
  padding: 30px;
}

td {
  padding: 5px;
  margin: 5px;
}

th {
  padding: 5px;
  margin: 5px;
}

.pager span {
  margin-left: 10px;
   margin-right: 10px;
  paddimg: 10px;
}

td img {
  width: 32px;
  height: 32px;
}

.rss {
  width: 32px;
  height: 32px;
}